<%= form_with(model: coin) do |form| %>
  <% if coin.errors.any? %>
    <%# Usando o componente "Alert" do Bootstrap para erros %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">Ocorreram <%= pluralize(coin.errors.count, "erro") %>:</h4>
      <ul>
        <% coin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Cada campo é envolvido por uma div com margem (mb-3) %>
  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :acronym, class: "form-label" %>
    <%= form.text_field :acronym, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :url_image, "URL da Imagem", class: "form-label" %>
    <div class="d-flex align-items-center">
      <%= form.text_field :url_image, class: "form-control" %>
      <%# Mostra a imagem apenas se ela já existir %>
      <% if coin.persisted? && coin.url_image.present? %>
        <img src="<%= coin.url_image %>" class="img-thumbnail ms-3" width="50px" />
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :mining_type_id, class: "form-label" %>
    <%# Para o select, a classe correta é "form-select" %>
    <%= form.select("mining_type_id", @mining_type_options, { include_blank: 'Selecione...' }, { class: "form-select" }) %>
  </div>

  <%# Para o botão, usamos as classes "btn" %>
  <%= form.submit "#{ t('link.save-coin')}", class: "btn btn-success" %>
<% end %>
