<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to t('link.edit-moeda'), edit_coin_path(@coin) %> |
  <%= link_to t('link.home'), coins_path %>
</div>
<div>
  <br>
  <%= button_to t('link.delete-moeda'), @coin, method: :delete %>
</div>
