<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to "Editar", edit_coin_path(@coin) %> |
  <%= link_to "Voltar para a pagina inicial", coins_path %>
</div>
<div>
  <br>
  <%= button_to "Excluir essa moeda", @coin, method: :delete %>
</div>
