<h1>Seja Bem-Vindo!</h1>
<p>A idioma usado nessa aplicação é: <strong><%= locale(I18n.locale) %></strong></p>
<p> Data: <%= Date.today %></p>

<%= render "menu" %> <!-- Aula 56-->

<p>Você está em ambiente: <strong><%= ambientes_env %></strong></p> <!-- Aula 53-->

<p>eu sou uma variavel de instancia/sessao <strong><%= @meu_nome %></strong></p> <!-- Aula 53-->

<p>Meu curso é o curso de:  <strong><%= @curso %></strong></p> <!-- Aula 53-->
