<p style="color: green"><%= notice %></p>

<%= render @mining_type %>

<div>
  <%= link_to t('link.edit-mining-type'), edit_mining_type_path(@mining_type) %> |
  <%= link_to t('link.show-mining-type'), @mining_type %> |
  <%= button_to t('link.delete-mining-type'), @mining_type, method: :delete %>
</div>
